<a href="https://colab.research.google.com/github/jcy411601031/Intruduction-to-Computers/blob/main/%E6%9C%9F%E6%9C%AB%E8%80%83.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum = 0
for number in range(1, 101):
 sum += number
print(sum)

5050

In [20]:
sum = 0
for number in range (1, 101):
  sum += number
print(sum)

5050

In [1]:
num = int(input())
if num >= 0 :
  if (num % 2) == 0 :
    print(num,"is even")
  elif (num % 2) :
    print(num,"is odd")
else :
  print("Input Error")

50
50 is even

In [21]:
num = int(input())
if num >= 0 :
  if (num % 2) == 0 :
    print(num, "is even")
  elif (num % 2) :
    print(num, "is odd")
else :
  print("Input Error")

0
0 is even

In [10]:
N = int(input())
if N >= 0 :
  print(100000 * 1.03 ** N)
else :
  print("Input Error")

-2
Input Error

In [22]:
N = int(input())
if N >= 0 :
  print(100000 * 1.03 ** N)
else :
  print("Input Error")

1
103000.0

In [30]:
n = int(input())
for i in range(1, n+1):
  if n%i == 0:
    print(i, end=" ")

520
1 2 4 5 8 10 13 20 26 40 52 65 104 130 260 520

In [34]:
n = int(input())
for i in range (1, n+1):
  if n%i == 0 :
    print(i, end = " ")

520
1 2 4 5 8 10 13 20 26 40 52 65 104 130 260 520